# 21. Json in Python 

 * __Import json__
 * __dictionary(object) -->JSONString__
 * __json.dumps(python_dictionary)__
 * __pretty print: json.dumps(python_dict,indent=4)__
 * __Sort keys: json.dumps(python_dict, sort_key=True)__
 * __JSON string ---> Dictionary [object]__
 * __json.loads(json string)__
 * __file Write(dict --> JSON file)__
 * __json.dump(python_dict, open("file.json",'w'))__
 * __fileread: (JSON File ---> Dictionary):__
 * __json.load(open('file.json'))__
 * __Custom encoding: json.dumps(obj,default=str)__
 * __Ensure ASCII(default=True):__
 * __json.dumps(python_dictionary, ensure_ascii=False)__
 * __compact(no spaces): json.dumps(python_dict, separators=(',',':')__))

In [3]:
# 1). dictionary - JSON String [javascript object notation]

data = {
    "name":"Alice",
    "Age":25
}
print(data,type(data))

# change 

data['name'] = "Asma Shayyad"
data

{'name': 'Alice', 'Age': 25} <class 'dict'>

{'name': 'Asma Shayyad', 'Age': 25}

In [6]:
# object to string

# dumps ---> object to string convert
import json
json_str = json.dumps(data)
print(json_str,type(json_str))

{"name": "Asma Shayyad", "Age": 25} <class 'str'>

In [10]:
json_str

'{"name": "Asma Shayyad", "Age": 25}'

In [16]:
json_str[-2]

'5'

In [17]:
# string to dictionary
json_str

'{"name": "Asma Shayyad", "Age": 25}'

In [19]:
stringValue = '{"name":"Bob","age":25, "address":"Texas"}'
print(stringValue,type(stringValue))

{"name":"Bob","age":25, "address":"Texas"} <class 'str'>

In [21]:
# JSON String - Object [Python Dictionary]
# loads
parsed = json.loads(stringValue)
print(parsed)

{'name': 'Bob', 'age': 25, 'address': 'Texas'}

In [28]:
x = '[{"id": 1, "name": "Item 1", "price": 10.5},{"id": 2, "name": "Item 2", "price": 20.0}]'
print(x)

[{"id": 1, "name": "Item 1", "price": 10.5},{"id": 2, "name": "Item 2", "price": 20.0}]

In [29]:
# object 

object1 = json.loads(x)
print(object1)

[{'id': 1, 'name': 'Item 1', 'price': 10.5}, {'id': 2, 'name': 'Item 2', 'price': 20.0}]

In [33]:
object1[0]['name'] = "Apple"

In [34]:
object1

[{'id': 1, 'name': 'Apple', 'price': 10.5},
 {'id': 2, 'name': 'Item 2', 'price': 20.0}]

In [35]:
# string 

stringValue = json.dumps(object1)
print(stringValue)

[{"id": 1, "name": "Apple", "price": 10.5}, {"id": 2, "name": "Item 2", "price": 20.0}]

In [36]:
dict1 = [{"id": 1, "name": "Apple", "price": 10.5}, {"id": 2, "name": "Item 2", "price": 20.0}]
dict1[1]['name'] = 'Strawberry'

In [37]:
dict1

[{'id': 1, 'name': 'Apple', 'price': 10.5},
 {'id': 2, 'name': 'Strawberry', 'price': 20.0}]

In [44]:
import json
x = '[{"id": 1, "name": "Apple", "price": 10.5}, {"id": 2, "name": "Item 2", "price": 20.0}]'
y = json.loads(x)
print(y)
y[1]["name"] = "Strawberry"
print(y)

strValue = json.dumps(y, indent=4)
print(strValue)

[{'id': 1, 'name': 'Apple', 'price': 10.5}, {'id': 2, 'name': 'Item 2', 'price': 20.0}]
[{'id': 1, 'name': 'Apple', 'price': 10.5}, {'id': 2, 'name': 'Strawberry', 'price': 20.0}]
[
    {
        "id": 1,
        "name": "Apple",
        "price": 10.5
    },
    {
        "id": 2,
        "name": "Strawberry",
        "price": 20.0
    }
]

In [42]:
import json
dict1 = '[{"id": 1, "name": "Apple", "price": 10.5}, {"id": 2, "name": "Item 2", "price": 20.0}]'
addValue = json.loads(dict1)
addValue[1]["name"] = "Strawberry"
print(addValue)

[{'id': 1, 'name': 'Apple', 'price': 10.5}, {'id': 2, 'name': 'Strawberry', 'price': 20.0}]

In [43]:
data = {
    "name":"Alice",
    "Age":25
}
print(data,type(data))

{'name': 'Alice', 'Age': 25} <class 'dict'>

In [48]:
import json
x = '[{"id": 1, "name": "Apple", "price": 10.5}, {"id": 2, "name": "Item 2", "price": 20.0}]'
y = json.loads(x)
# print(y)
y[1]["name"] = "Strawberry"
print(y)

strValue = json.dumps(y, indent=4, sort_keys=True)
print(strValue)

[{'id': 1, 'name': 'Apple', 'price': 10.5}, {'id': 2, 'name': 'Strawberry', 'price': 20.0}]
[
    {
        "id": 1,
        "name": "Apple",
        "price": 10.5
    },
    {
        "id": 2,
        "name": "Strawberry",
        "price": 20.0
    }
]

In [51]:
# Writing json file 

data = {
    "name":"Alice",
    "Age":25,
    "Address":"Texas",
    "email":"alice00@gmail.com",
    'phoneNo':151654654
}
print(data,type(data))


json.dump(data, open('file.json','w'))

{'name': 'Alice', 'Age': 25, 'Address': 'Texas', 'email': 'alice00@gmail.com', 'phoneNo': 151654654} <class 'dict'>

In [52]:
# read json file.

json.load(open("file.json"))

{'name': 'Alice',
 'Age': 25,
 'Address': 'Texas',
 'email': 'alice00@gmail.com',
 'phoneNo': 151654654}

In [54]:
objectVal = json.load(open("C:\\Users\\User\\Downloads\\sample.json"))
objectVal

[{'id': 1, 'name': 'Item 1', 'price': 6.5},
 {'id': 2, 'name': 'Item 2', 'price': 8.0},
 {'id': 3, 'name': 'Item 3', 'price': 9.5},
 {'id': 4, 'name': 'Item 4', 'price': 11.0},
 {'id': 5, 'name': 'Item 5', 'price': 12.5},
 {'id': 6, 'name': 'Item 6', 'price': 14.0},
 {'id': 7, 'name': 'Item 7', 'price': 15.5},
 {'id': 8, 'name': 'Item 8', 'price': 17.0},
 {'id': 9, 'name': 'Item 9', 'price': 18.5},
 {'id': 10, 'name': 'Item 10', 'price': 20.0},
 {'id': 11, 'name': 'Item 11', 'price': 21.5},
 {'id': 12, 'name': 'Item 12', 'price': 23.0},
 {'id': 13, 'name': 'Item 13', 'price': 24.5},
 {'id': 14, 'name': 'Item 14', 'price': 26.0},
 {'id': 15, 'name': 'Item 15', 'price': 27.5},
 {'id': 16, 'name': 'Item 16', 'price': 29.0},
 {'id': 17, 'name': 'Item 17', 'price': 30.5},
 {'id': 18, 'name': 'Item 18', 'price': 32.0},
 {'id': 19, 'name': 'Item 19', 'price': 33.5},
 {'id': 20, 'name': 'Item 20', 'price': 35.0},
 {'id': 21, 'name': 'Item 21', 'price': 36.5},
 {'id': 22, 'name': 'Item 22', 'price': 38.0},
 {'id': 23, 'name': 'Item 23', 'price': 39.5},
 {'id': 24, 'name': 'Item 24', 'price': 41.0},
 {'id': 25, 'name': 'Item 25', 'price': 42.5},
 {'id': 26, 'name': 'Item 26', 'price': 44.0},
 {'id': 27, 'name': 'Item 27', 'price': 45.5},
 {'id': 28, 'name': 'Item 28', 'price': 47.0},
 {'id': 29, 'name': 'Item 29', 'price': 48.5},
 {'id': 30, 'name': 'Item 30', 'price': 50.0}]

In [56]:
objectVal[0]['name'] = "Apple"

In [57]:
objectVal

[{'id': 1, 'name': 'Apple', 'price': 6.5},
 {'id': 2, 'name': 'Item 2', 'price': 8.0},
 {'id': 3, 'name': 'Item 3', 'price': 9.5},
 {'id': 4, 'name': 'Item 4', 'price': 11.0},
 {'id': 5, 'name': 'Item 5', 'price': 12.5},
 {'id': 6, 'name': 'Item 6', 'price': 14.0},
 {'id': 7, 'name': 'Item 7', 'price': 15.5},
 {'id': 8, 'name': 'Item 8', 'price': 17.0},
 {'id': 9, 'name': 'Item 9', 'price': 18.5},
 {'id': 10, 'name': 'Item 10', 'price': 20.0},
 {'id': 11, 'name': 'Item 11', 'price': 21.5},
 {'id': 12, 'name': 'Item 12', 'price': 23.0},
 {'id': 13, 'name': 'Item 13', 'price': 24.5},
 {'id': 14, 'name': 'Item 14', 'price': 26.0},
 {'id': 15, 'name': 'Item 15', 'price': 27.5},
 {'id': 16, 'name': 'Item 16', 'price': 29.0},
 {'id': 17, 'name': 'Item 17', 'price': 30.5},
 {'id': 18, 'name': 'Item 18', 'price': 32.0},
 {'id': 19, 'name': 'Item 19', 'price': 33.5},
 {'id': 20, 'name': 'Item 20', 'price': 35.0},
 {'id': 21, 'name': 'Item 21', 'price': 36.5},
 {'id': 22, 'name': 'Item 22', 'price': 38.0},
 {'id': 23, 'name': 'Item 23', 'price': 39.5},
 {'id': 24, 'name': 'Item 24', 'price': 41.0},
 {'id': 25, 'name': 'Item 25', 'price': 42.5},
 {'id': 26, 'name': 'Item 26', 'price': 44.0},
 {'id': 27, 'name': 'Item 27', 'price': 45.5},
 {'id': 28, 'name': 'Item 28', 'price': 47.0},
 {'id': 29, 'name': 'Item 29', 'price': 48.5},
 {'id': 30, 'name': 'Item 30', 'price': 50.0}]

In [60]:
json.dump(objectVal,open("jsonString.json","w"), indent=4)

In [63]:
# pretty print 

json.dumps(data, indent=4, sort_keys=False)

'{\n    "name": "Alice",\n    "Age": 25,\n    "Address": "Texas",\n    "email": "alice00@gmail.com",\n    "phoneNo": 151654654\n}'

In [67]:
# compact JSON

json.dumps(data, separators=(',',':'))

'{"name":"Alice","Age":25,"Address":"Texas","email":"alice00@gmail.com","phoneNo":151654654}'

In [68]:
# Custom encondong

json.dumps(data, default=str)

'{"name": "Alice", "Age": 25, "Address": "Texas", "email": "alice00@gmail.com", "phoneNo": 151654654}'