# 4. Tuples in Python

 * __Tuples are immutable lists and cannot be changed in any way once it is created.__
 * __Tuples are defined in the same way as lists.__
 * __They are enclosed within parentheses and not within square braces.__
 * __Tuples are ordered, indexed collections of data.__
 * __Similar to string indices, the first value in the tuple will have the index[0], the second value will be [1].__

 * __Negative indices are counted from the end of the tuple, just like lists as well as strings.__
 * __Tuples also have the same structure where commas separate values.__
 * __Tuples can store duplicate values.__
 * __Tuples allow you to store several data items, including string, integer, and float in one variable.__

In [2]:
tuple_1 = ()
print(tuple_1)
print(type(tuple_1))

()
<class 'tuple'>

In [4]:
x = (10,)
print(x)
print(type(x))

10
<class 'int'>

In [ ]:
prefix, infix, postfix- [high precedence- /,*,%, low precedence- +, - ,]

In [18]:
x = 10,1020,464
print(x,type(x))

(10, 1020, 464) <class 'tuple'>

In [14]:
x = ()
print(x,type(x))

() <class 'tuple'>

In [20]:
# immutable list
# append, extend, insert, update, delete - tuple
# index value- positive and negative

x

(10, 1020, 464)

In [24]:
print(x[0])
print(x[1])
print(x[2])
# print(x[0])

10
1020
464

In [26]:
# negative indexing
print(x[-1])
print(x[-2])
print(x[-3])

464
1020
10

In [28]:
# concatenation value

tup1 = ('Python',"Hello",20)
tup2 = (10,20,30,True, 'True')

print(tup1+tup2)

('Python', 'Hello', 20, 10, 20, 30, True, 'True')

In [30]:
rep_tup = (1,2,3,4)
rep_tup*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [34]:
# for

for x in rep_tup:
    print(x*2,end=",")

2,4,6,8,

In [38]:
rep_tup

(1, 2, 3, 4)

In [42]:
min(rep_tup)

1

In [44]:
max(rep_tup)

4

In [46]:
sum(rep_tup)

10

In [64]:
# tup(seq) function
# it converts a specific sequence to a tuple

seq = "Aditya"
print(seq,type(seq))

Aditya <class 'str'>

In [66]:
tuple(seq)

('A', 'd', 'i', 't', 'y', 'a')

In [70]:
tuple1 = ('Hello', "Python",3.147, True, False,(1,2,3),[1,2,3],{1,2,3},{'a':'apple','b':'ball'})
print(tuple1)

('Hello', 'Python', 3.147, True, False, (1, 2, 3), [1, 2, 3], {1, 2, 3}, {'a': 'apple', 'b': 'ball'})

In [76]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))
print(type(tuple1[3]))
print(type(tuple1[4]))
print(type(tuple1[5]))
print(type(tuple1[6]))
print(type(tuple1[7]))
print(type(tuple1[8]))

<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [78]:
tuple1

('Hello',
 'Python',
 3.147,
 True,
 False,
 (1, 2, 3),
 [1, 2, 3],
 {1, 2, 3},
 {'a': 'apple', 'b': 'ball'})

In [84]:
tuple1[:2]

('Hello', 'Python')

In [88]:
tuple1[5:7]

((1, 2, 3), [1, 2, 3])

In [141]:
tuple1 = ('Hello',"Python",3.147,True,False,(1,2,3),[1,2,3],{1,2,3},{'a':'apple','b':'ball'})
print(tuple1)

('Hello', 'Python', 3.147, True, False, (1, 2, 3), [1, 2, 3], {1, 2, 3}, {'a': 'apple', 'b': 'ball'})

In [99]:
tuple1[6][2] = "Aditya"
print(tuple1)

('Hello', 'Python', 3.147, True, False, (1, 2, 3), [1, 2, 'Aditya'], {1, 2, 3}, {'a': 'apple', 'b': 'ball'})

In [101]:
tuple1

('Hello',
 'Python',
 3.147,
 True,
 False,
 (1, 2, 3),
 [1, 2, 'Aditya'],
 {1, 2, 3},
 {'a': 'apple', 'b': 'ball'})

In [105]:
# striding value 
tuple1[::2]

('Hello', 3.147, False, [1, 2, 'Aditya'], {'a': 'apple', 'b': 'ball'})

In [107]:
tuple1[::3]

('Hello', True, [1, 2, 'Aditya'])

In [109]:
tuple1[::4]

('Hello', False, {'a': 'apple', 'b': 'ball'})

In [111]:
len(tuple1)

9

In [113]:
tuple1

('Hello',
 'Python',
 3.147,
 True,
 False,
 (1, 2, 3),
 [1, 2, 'Aditya'],
 {1, 2, 3},
 {'a': 'apple', 'b': 'ball'})

In [115]:
# Tuples are immutable

tuple1

('Hello',
 'Python',
 3.147,
 True,
 False,
 (1, 2, 3),
 [1, 2, 'Aditya'],
 {1, 2, 3},
 {'a': 'apple', 'b': 'ball'})

In [119]:
tuple1[1] = 'world'

TypeError: 'tuple' object does not support item assignment

In [121]:
tuple1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [127]:
# del()

print(tuple1)
del(tuple1[1])

('Hello', 'Python', 3.147, True, False, (1, 2, 3), [1, 2, 'Aditya'], {1, 2, 3}, {'a': 'apple', 'b': 'ball'})

TypeError: 'tuple' object doesn't support item deletion

In [129]:
# remove

tuple1.remove('Python')
tuple1

AttributeError: 'tuple' object has no attribute 'remove'

In [131]:
# append, insert, extend

tuple1.append('hello world')

AttributeError: 'tuple' object has no attribute 'append'

In [133]:
# insert 
tuple1.insert(0,"Hello world")

AttributeError: 'tuple' object has no attribute 'insert'

In [135]:
# extend()
tuple1.extend(['python',1,2])

AttributeError: 'tuple' object has no attribute 'extend'

In [137]:
# if you want to delete the whole tuple, then you can use del(), 

del(tuple1)

In [139]:
tuple1

NameError: name 'tuple1' is not defined

In [143]:
id(tuple1)

2097319736640

In [145]:
tuple1

('Hello',
 'Python',
 3.147,
 True,
 False,
 (1, 2, 3),
 [1, 2, 3],
 {1, 2, 3},
 {'a': 'apple', 'b': 'ball'})

In [151]:
tuple4 = (1,3,5,7,8,1,7,7)
# count: This method returns the number of times an item occurs in a tuple

print(tuple4.count(1))
print(tuple4.count(7))

2
3

In [155]:
# index() method: it returns the index of the first occurrence of the specified value in a tuple.
tuple4.index(7)

3

In [159]:
# one element tuple:

x = (1)
print(x,type(x))

1 <class 'int'>

In [166]:
tuple6 = ("Hello world")
print(tuple6,type(tuple6))

Hello world <class 'str'>

In [168]:
tuple6 = ("Hello world",)
print(tuple6,type(tuple6))

('Hello world',) <class 'tuple'>

In [174]:
x = [1]
print(x,type(x))

[1] <class 'list'>

In [184]:
tuple2 = (1,56,76,87,54,24,3)
len(tuple2) 
a,b,c,d,e,f,g = tuple2

In [186]:
a
id(a)

140730418411960

In [180]:
type(a)

int

In [190]:
a= 20
print(a)
id(a)

20

140730418412568

In [192]:
print(a)

20

In [202]:
a = 1
a = 25
a = 55

In [204]:
a

55

In [210]:
a = ('apple',20)
print(a,type(a))
a.appned('boy')
print(a)

('apple', 20) <class 'tuple'>

AttributeError: 'tuple' object has no attribute 'appned'

In [216]:
b1 = list(a)  
print(b1)
b1.append('apple')
b1

['apple', 20]

['apple', 20, 'apple']

In [218]:
c1 = set(b1)
print(c1)

{20, 'apple'}