# 8. Loops in Python 

 * __A for loop is used for iterating over a sequence(that is either a list, a tuple, a dictionary, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in the other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set, etc.__
 * __The for loop does not require an indexing variable to be set beforehand.__
 * __With the while loop, we can execute a set of statements as long as the condition is true.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__

# range() function
 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1(by default), and ends at a specified number.__

In [4]:
# 5 print("Hello world")

print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world

In [6]:
# 100
# 1000
# 10,000

# loop-

In [8]:
range(10)

range(0, 10)

In [10]:
range(20)

range(0, 20)

In [12]:
range(-20)

range(0, -20)

In [18]:
range(len("Aditya"))

range(0, 6)

In [20]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [23]:
for i in range(5):
    print(i)

0
1
2
3
4

In [25]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [33]:
for i in range(-5,0):
    print(i)

-5
-4
-3
-2
-1

In [35]:
range(-5)

range(0, -5)

In [37]:
range(-5,0)

range(-5, 0)

In [41]:
# -20,-10
for i in range(-20,-9):
    print(i)

-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

In [43]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [51]:
for x in range(-20,0):
    print(x,"Hello world")

-20 Hello world
-19 Hello world
-18 Hello world
-17 Hello world
-16 Hello world
-15 Hello world
-14 Hello world
-13 Hello world
-12 Hello world
-11 Hello world
-10 Hello world
-9 Hello world
-8 Hello world
-7 Hello world
-6 Hello world
-5 Hello world
-4 Hello world
-3 Hello world
-2 Hello world
-1 Hello world

In [55]:
for i in range(1,101):
    print(i,'Hello world')

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world
10 Hello world
11 Hello world
12 Hello world
13 Hello world
14 Hello world
15 Hello world
16 Hello world
17 Hello world
18 Hello world
19 Hello world
20 Hello world
21 Hello world
22 Hello world
23 Hello world
24 Hello world
25 Hello world
26 Hello world
27 Hello world
28 Hello world
29 Hello world
30 Hello world
31 Hello world
32 Hello world
33 Hello world
34 Hello world
35 Hello world
36 Hello world
37 Hello world
38 Hello world
39 Hello world
40 Hello world
41 Hello world
42 Hello world
43 Hello world
44 Hello world
45 Hello world
46 Hello world
47 Hello world
48 Hello world
49 Hello world
50 Hello world
51 Hello world
52 Hello world
53 Hello world
54 Hello world
55 Hello world
56 Hello world
57 Hello world
58 Hello world
59 Hello world
60 Hello world
61 Hello world
62 Hello world
63 Hello world
64 Hello world
65 Hello world
66 Hello world
67 Hello world
68 Hello world
69 Hello world
70 Hello world
71 Hello world
72 Hello world
73 Hello world
74 Hello world
75 Hello world
76 Hello world
77 Hello world
78 Hello world
79 Hello world
80 Hello world
81 Hello world
82 Hello world
83 Hello world
84 Hello world
85 Hello world
86 Hello world
87 Hello world
88 Hello world
89 Hello world
90 Hello world
91 Hello world
92 Hello world
93 Hello world
94 Hello world
95 Hello world
96 Hello world
97 Hello world
98 Hello world
99 Hello world
100 Hello world

In [79]:
name = "Aditya"

for j in range(len(name)):
    print(j,name[j])

0 A
1 d
2 i
3 t
4 y
5 a

In [73]:
name[0]

'A'

In [77]:
name[2]

'i'

In [81]:
years = [2005,2006,2007,2008,2009,2010]

for i in years:
    print(i)

2005
2006
2007
2008
2009
2010

In [95]:
for i in range(len(years)):
    print(years[i],end=",")

2005,2006,2007,2008,2009,2010,

In [97]:
for i in range(2,22):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [99]:
# striding value [starts:ends: skip]
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [101]:
# list
languages = ['C',"Java","Python","Ruby","R","C#","C++","fortran","BASIC","PHP","Laravel","Django","SQL"]

# display only starts from C character
for i in languages:
    print(i)

C
Java
Python
Ruby
R
C#
c++
fortran
BASIC
PHP
Laravel
Django
SQL

In [129]:
# list
languages = ['C',"Java","Python","Ruby","R","C#","C++","fortran","BASIC","PHP","Laravel","Django","SQL"]

# display only starts from C character
for i in languages:
    if i[0]  == "C":
        print(i)

C
C#
C++

In [159]:
# list
languages = ['C',"Java","Python","Ruby","R","C#","C++","fortran","BASIC","PHP","Laravel","Django","SQL"]


for i in range(len(languages)): # 0,13 - 0-12
    if languages[i] == 'P':
        print(languages[i][0])

In [135]:
languages = ['C',"Java","Python","Ruby","R","C#","C++","fortran","BASIC","PHP","Laravel","Django","SQL"]

print(languages[2])
print(languages[5][0])
print(languages[6][0])

Python
C
C

In [169]:
# DAS Array
languages[2][0] == "P"

True

In [175]:
languages[2][0]

'P'

In [201]:
languages = ['C',"Java","Python","Ruby","R","C#","C++","fortran","BASIC","PHP","Laravel","Django","SQL"]


# nested loop
print(languages)
for i in languages:
    count = 0
    for j in i:
        count = count+1
    print(count,end=",")

['C', 'Java', 'Python', 'Ruby', 'R', 'C#', 'C++', 'fortran', 'BASIC', 'PHP', 'Laravel', 'Django', 'SQL']
1,4,6,4,1,2,3,7,5,3,7,6,3,

In [217]:
# natural Number- 10 - 55
# counting numbers - 1,
# whole number - 0
# prime numbers- 1 and itself- 2,3,5,7,11,13,17

count1 =  0 # null with integer # Aditya # global variable
for i in range(1,11):
    count1 =  count1+i# 0+1 = 1, 1+2 = 3, 3+3 = 6, 6+4=10, 10+5 = 15, 15+6 = 21, 21+7 = 28, 28+8 = 36, 36+9, 45+10 = 55
print(count1)

55

In [221]:
# stack = 0,1

# 20
count2 = 0
for x in range(21):
    count2 = count2+i
print(count2)

210

In [227]:
# even - 10, 2,4,6,8, 10

# even print
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [233]:
# even print # sum-10 - natural value-55 - 25

count=0
for i in range(11):
    if i%2 == 0:
        count+=i
print(count)

30

In [239]:
# odd numbers
count1 = 0
for i in range(11):
    if i%2!=0:
        # print(i)
        count1+=i
print(count1)

25

In [245]:
# find the sum of odd and even numbers separately
evenSum=0
oddSum=0
for i in range(11):
    if i%2==0:
        evenSum+=i
    else:
        oddSum+=i
print("The sum of even numbers is:",evenSum,"\nThe sum of odd numbers is:",oddSum)

The sum of even numebrs is: 30
The sum of odd numebrs is: 25

In [ ]:
# 50 quesries<- programmer