# 8. Loops in Python 

 * __A for loop is used for iterating over a sequence(that is either a list, a tuple, a dictionary, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in the other object-oriented programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, set, etc.__
 * __The for loop does not require an indexing variable to be set beforehand.__
 * __With the while loop, we can execute a set of statements as long as the condition is true.__
 * __Note: remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.__

# range() function
 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() function.__
 * __The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1(by default), and ends at a specified number.__

In [2]:
# 5 print("Hello world")

print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")
print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world

In [3]:
# 100
# 1000
# 10,000

# loop-

In [4]:
range(10)

range(0, 10)

In [5]:
range(20)

range(0, 20)

In [6]:
range(-20)

range(0, -20)

In [7]:
range(len("Aditya"))

range(0, 6)

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(5):
    print(i)

0
1
2
3
4

In [10]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [11]:
for i in range(-5,0):
    print(i)

-5
-4
-3
-2
-1

In [12]:
range(-5)

range(0, -5)

In [13]:
range(-5,0)

range(-5, 0)

In [14]:
# -20,-10
for i in range(-20,-9):
    print(i)

-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

In [15]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for x in range(-20,0):
    print(x,"Hello world")

-20 Hello world
-19 Hello world
-18 Hello world
-17 Hello world
-16 Hello world
-15 Hello world
-14 Hello world
-13 Hello world
-12 Hello world
-11 Hello world
-10 Hello world
-9 Hello world
-8 Hello world
-7 Hello world
-6 Hello world
-5 Hello world
-4 Hello world
-3 Hello world
-2 Hello world
-1 Hello world

In [17]:
for i in range(1,101):
    print(i,'Hello world')

1 Hello world
2 Hello world
3 Hello world
4 Hello world
5 Hello world
6 Hello world
7 Hello world
8 Hello world
9 Hello world
10 Hello world
11 Hello world
12 Hello world
13 Hello world
14 Hello world
15 Hello world
16 Hello world
17 Hello world
18 Hello world
19 Hello world
20 Hello world
21 Hello world
22 Hello world
23 Hello world
24 Hello world
25 Hello world
26 Hello world
27 Hello world
28 Hello world
29 Hello world
30 Hello world
31 Hello world
32 Hello world
33 Hello world
34 Hello world
35 Hello world
36 Hello world
37 Hello world
38 Hello world
39 Hello world
40 Hello world
41 Hello world
42 Hello world
43 Hello world
44 Hello world
45 Hello world
46 Hello world
47 Hello world
48 Hello world
49 Hello world
50 Hello world
51 Hello world
52 Hello world
53 Hello world
54 Hello world
55 Hello world
56 Hello world
57 Hello world
58 Hello world
59 Hello world
60 Hello world
61 Hello world
62 Hello world
63 Hello world
64 Hello world
65 Hello world
66 Hello world
67 Hello world
68 Hello world
69 Hello world
70 Hello world
71 Hello world
72 Hello world
73 Hello world
74 Hello world
75 Hello world
76 Hello world
77 Hello world
78 Hello world
79 Hello world
80 Hello world
81 Hello world
82 Hello world
83 Hello world
84 Hello world
85 Hello world
86 Hello world
87 Hello world
88 Hello world
89 Hello world
90 Hello world
91 Hello world
92 Hello world
93 Hello world
94 Hello world
95 Hello world
96 Hello world
97 Hello world
98 Hello world
99 Hello world
100 Hello world

In [18]:
name = "Aditya"

for j in range(len(name)):
    print(j,name[j])

0 A
1 d
2 i
3 t
4 y
5 a

In [19]:
name[0]

'A'

In [20]:
name[2]

'i'

In [21]:
years = [2005,2006,2007,2008,2009,2010]

for i in years:
    print(i)

2005
2006
2007
2008
2009
2010

In [22]:
for i in range(len(years)):
    print(years[i],end=",")

2005,2006,2007,2008,2009,2010,

In [23]:
for i in range(2,22):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [24]:
# striding value [starts:ends: skip]
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [25]:
# list
languages = ['C',"Java","Python","Ruby","R","C#","C++","fortran","BASIC","PHP","Laravel","Django","SQL"]

# display only starts from C character
for i in languages:
    print(i)

C
Java
Python
Ruby
R
C#
C++
fortran
BASIC
PHP
Laravel
Django
SQL

In [26]:
# list
languages = ['C',"Java","Python","Ruby","R","C#","C++","fortran","BASIC","PHP","Laravel","Django","SQL"]

# display only starts from C character
for i in languages:
    if i[0]  == "C":
        print(i)

C
C#
C++

In [27]:
# list
languages = ['C',"Java","Python","Ruby","R","C#","C++","fortran","BASIC","PHP","Laravel","Django","SQL"]


for i in range(len(languages)): # 0,13 - 0-12
    if languages[i] == 'P':
        print(languages[i][0])

In [28]:
languages = ['C',"Java","Python","Ruby","R","C#","C++","fortran","BASIC","PHP","Laravel","Django","SQL"]

print(languages[2])
print(languages[5][0])
print(languages[6][0])

Python
C
C

In [29]:
# DAS Array
languages[2][0] == "P"

True

In [30]:
languages[2][0]

'P'

In [31]:
languages = ['C',"Java","Python","Ruby","R","C#","C++","fortran","BASIC","PHP","Laravel","Django","SQL"]


# nested loop
print(languages)
for i in languages:
    count = 0
    for j in i:
        count = count+1
    print(count,end=",")

['C', 'Java', 'Python', 'Ruby', 'R', 'C#', 'C++', 'fortran', 'BASIC', 'PHP', 'Laravel', 'Django', 'SQL']
1,4,6,4,1,2,3,7,5,3,7,6,3,

In [32]:
# natural Number- 10 - 55
# counting numbers - 1,
# whole number - 0
# prime numbers- 1 and itself- 2,3,5,7,11,13,17

count1 =  0 # null with integer # Aditya # global variable
for i in range(1,11):
    count1 =  count1+i# 0+1 = 1, 1+2 = 3, 3+3 = 6, 6+4=10, 10+5 = 15, 15+6 = 21, 21+7 = 28, 28+8 = 36, 36+9, 45+10 = 55
print(count1)

55

In [33]:
# stack = 0,1

# 20
count2 = 0
for x in range(21):
    count2 = count2+i
print(count2)

210

In [34]:
# even - 10, 2,4,6,8, 10

# even print
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [35]:
# even print # sum-10 - natural value-55 - 25

count=0
for i in range(11):
    if i%2 == 0:
        count+=i
print(count)

30

In [36]:
# odd numbers
count1 = 0
for i in range(11):
    if i%2!=0:
        # print(i)
        count1+=i
print(count1)

25

In [37]:
# find the sum of odd and even numbers separately
evenSum=0
oddSum=0
for i in range(11):
    if i%2==0:
        evenSum+=i
    else:
        oddSum+=i
print("The sum of even numbers is:",evenSum,"\nThe sum of odd numbers is:",oddSum)

The sum of even numbers is: 30
The sum of odd numbers is: 25

In [38]:
# 50 quesries<- programmer


for i in range(50):
    if i%2==0:
        print(i, end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

In [39]:
# table

# 2 - table

# 2x1 = 2
# 2x2 = 4
# 2x3 = 6
# 2x4 = 8
# 2x5 = 10
# 2x6 = 12
# 2x7 = 14
# 2x8 = 16
# 2x9 = 18
# 2x10 = 20

num = 2

for i in range(1,11):
    print(num,"x",i,"=",num*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [40]:
num = int(input("Enter any value: "))

for i in range(1,11):
    print(num,"x",i,"=",num*i)

Enter any value:  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [41]:
num = int(input("Enter any value: "))
# %d, %c, %f
for i in range(1,11):
    print("%dX%d=%d"%(num,i,num*i))

Enter any value:  8

8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
8X10=80

In [42]:
num = int(input("Enter any value: "))
# %d, %c, %f
for i in range(1,11):
    print(f"{num}X{i}={num*i}")

Enter any value:  20

20X1=20
20X2=40
20X3=60
20X4=80
20X5=100
20X6=120
20X7=140
20X8=160
20X9=180
20X10=200

In [43]:
# 1 - 40
for i in range(1,41):
    print(f"\nTable of {i}\n")
    for j in range(1,11):
        print("%dX%d=%d"%(i,j,i*j))

Table of 1

1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
1X10=10

Table of 2

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

Table of 3

3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30

Table of 4

4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40

Table of 5

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

Table of 6

6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
6X10=60

Table of 7

7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
7X10=70

Table of 8

8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
8X10=80

Table of 9

9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81
9X10=90

Table of 10

10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100

Table of 11

11X1=11
11X2=22
11X3=33
11X4=44
11X5=55
11X6=66
11X7=77
11X8=88
11X9=99
11X10=110

Table of 12

12X1=12
12X2=24
12X3=36
12X4=48
12X5=60
12X6=72
12X7=84
12X8=96
12X9=108
12X10=120

Table of 13

13X1=13
13X2=26
13X3=39
13X4=52
13X5=65
13X6=78
13X7=91
13X8=104
13X9=117
13X10=130

Table of 14

14X1=14
14X2=28
14X3=42
14X4=56
14X5=70
14X6=84
14X7=98
14X8=112
14X9=126
14X10=140

Table of 15

15X1=15
15X2=30
15X3=45
15X4=60
15X5=75
15X6=90
15X7=105
15X8=120
15X9=135
15X10=150

Table of 16

16X1=16
16X2=32
16X3=48
16X4=64
16X5=80
16X6=96
16X7=112
16X8=128
16X9=144
16X10=160

Table of 17

17X1=17
17X2=34
17X3=51
17X4=68
17X5=85
17X6=102
17X7=119
17X8=136
17X9=153
17X10=170

Table of 18

18X1=18
18X2=36
18X3=54
18X4=72
18X5=90
18X6=108
18X7=126
18X8=144
18X9=162
18X10=180

Table of 19

19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

Table of 20

20X1=20
20X2=40
20X3=60
20X4=80
20X5=100
20X6=120
20X7=140
20X8=160
20X9=180
20X10=200

Table of 21

21X1=21
21X2=42
21X3=63
21X4=84
21X5=105
21X6=126
21X7=147
21X8=168
21X9=189
21X10=210

Table of 22

22X1=22
22X2=44
22X3=66
22X4=88
22X5=110
22X6=132
22X7=154
22X8=176
22X9=198
22X10=220

Table of 23

23X1=23
23X2=46
23X3=69
23X4=92
23X5=115
23X6=138
23X7=161
23X8=184
23X9=207
23X10=230

Table of 24

24X1=24
24X2=48
24X3=72
24X4=96
24X5=120
24X6=144
24X7=168
24X8=192
24X9=216
24X10=240

Table of 25

25X1=25
25X2=50
25X3=75
25X4=100
25X5=125
25X6=150
25X7=175
25X8=200
25X9=225
25X10=250

Table of 26

26X1=26
26X2=52
26X3=78
26X4=104
26X5=130
26X6=156
26X7=182
26X8=208
26X9=234
26X10=260

Table of 27

27X1=27
27X2=54
27X3=81
27X4=108
27X5=135
27X6=162
27X7=189
27X8=216
27X9=243
27X10=270

Table of 28

28X1=28
28X2=56
28X3=84
28X4=112
28X5=140
28X6=168
28X7=196
28X8=224
28X9=252
28X10=280

Table of 29

29X1=29
29X2=58
29X3=87
29X4=116
29X5=145
29X6=174
29X7=203
29X8=232
29X9=261
29X10=290

Table of 30

30X1=30
30X2=60
30X3=90
30X4=120
30X5=150
30X6=180
30X7=210
30X8=240
30X9=270
30X10=300

Table of 31

31X1=31
31X2=62
31X3=93
31X4=124
31X5=155
31X6=186
31X7=217
31X8=248
31X9=279
31X10=310

Table of 32

32X1=32
32X2=64
32X3=96
32X4=128
32X5=160
32X6=192
32X7=224
32X8=256
32X9=288
32X10=320

Table of 33

33X1=33
33X2=66
33X3=99
33X4=132
33X5=165
33X6=198
33X7=231
33X8=264
33X9=297
33X10=330

Table of 34

34X1=34
34X2=68
34X3=102
34X4=136
34X5=170
34X6=204
34X7=238
34X8=272
34X9=306
34X10=340

Table of 35

35X1=35
35X2=70
35X3=105
35X4=140
35X5=175
35X6=210
35X7=245
35X8=280
35X9=315
35X10=350

Table of 36

36X1=36
36X2=72
36X3=108
36X4=144
36X5=180
36X6=216
36X7=252
36X8=288
36X9=324
36X10=360

Table of 37

37X1=37
37X2=74
37X3=111
37X4=148
37X5=185
37X6=222
37X7=259
37X8=296
37X9=333
37X10=370

Table of 38

38X1=38
38X2=76
38X3=114
38X4=152
38X5=190
38X6=228
38X7=266
38X8=304
38X9=342
38X10=380

Table of 39

39X1=39
39X2=78
39X3=117
39X4=156
39X5=195
39X6=234
39X7=273
39X8=312
39X9=351
39X10=390

Table of 40

40X1=40
40X2=80
40X3=120
40X4=160
40X5=200
40X6=240
40X7=280
40X8=320
40X9=360
40X10=400

In [44]:
# "*"
# "**"
# "***"
# "****"
# "*****"


for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [45]:
# Break and continue

# 1-10
for i in range(1,50):
    if i == 5:
        break
    print(i)

1
2
3
4

In [46]:
#continue

# 1 - 10

for i in range(1,11):
    if i == 5:
        continue
    print(i)  # 5 skip

1
2
3
4
6
7
8
9
10

In [47]:
# while noting keyword for while loop

# range(): integer, len(array), auto-increment- +1

# while (condition):
#     starement
#     statement
# else:
#     execute statement

i = 0 # starts from 0
j = 11 # ends from 11

while i<j:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [96]:
# 5

num = 5

i = 1
j = 11

while i<j:
    print(f"{num}X{i}={num*i}")
    i+=1

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [106]:
# - 1 - 40
# nested while loop

i=1
j=40

while i<=j:
    # print(i)
    print(f"\nTable of {i}")
    a = 1
    b = 11
    while a<b:
        print(f"{i}X{a}={i*a}")
        a+=1
    i+=1

Table of 1
1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
1X10=10

Table of 2
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

Table of 3
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30

Table of 4
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40

Table of 5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

Table of 6
6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
6X10=60

Table of 7
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
7X10=70

Table of 8
8X1=8
8X2=16
8X3=24
8X4=32
8X5=40
8X6=48
8X7=56
8X8=64
8X9=72
8X10=80

Table of 9
9X1=9
9X2=18
9X3=27
9X4=36
9X5=45
9X6=54
9X7=63
9X8=72
9X9=81
9X10=90

Table of 10
10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100

Table of 11
11X1=11
11X2=22
11X3=33
11X4=44
11X5=55
11X6=66
11X7=77
11X8=88
11X9=99
11X10=110

Table of 12
12X1=12
12X2=24
12X3=36
12X4=48
12X5=60
12X6=72
12X7=84
12X8=96
12X9=108
12X10=120

Table of 13
13X1=13
13X2=26
13X3=39
13X4=52
13X5=65
13X6=78
13X7=91
13X8=104
13X9=117
13X10=130

Table of 14
14X1=14
14X2=28
14X3=42
14X4=56
14X5=70
14X6=84
14X7=98
14X8=112
14X9=126
14X10=140

Table of 15
15X1=15
15X2=30
15X3=45
15X4=60
15X5=75
15X6=90
15X7=105
15X8=120
15X9=135
15X10=150

Table of 16
16X1=16
16X2=32
16X3=48
16X4=64
16X5=80
16X6=96
16X7=112
16X8=128
16X9=144
16X10=160

Table of 17
17X1=17
17X2=34
17X3=51
17X4=68
17X5=85
17X6=102
17X7=119
17X8=136
17X9=153
17X10=170

Table of 18
18X1=18
18X2=36
18X3=54
18X4=72
18X5=90
18X6=108
18X7=126
18X8=144
18X9=162
18X10=180

Table of 19
19X1=19
19X2=38
19X3=57
19X4=76
19X5=95
19X6=114
19X7=133
19X8=152
19X9=171
19X10=190

Table of 20
20X1=20
20X2=40
20X3=60
20X4=80
20X5=100
20X6=120
20X7=140
20X8=160
20X9=180
20X10=200

Table of 21
21X1=21
21X2=42
21X3=63
21X4=84
21X5=105
21X6=126
21X7=147
21X8=168
21X9=189
21X10=210

Table of 22
22X1=22
22X2=44
22X3=66
22X4=88
22X5=110
22X6=132
22X7=154
22X8=176
22X9=198
22X10=220

Table of 23
23X1=23
23X2=46
23X3=69
23X4=92
23X5=115
23X6=138
23X7=161
23X8=184
23X9=207
23X10=230

Table of 24
24X1=24
24X2=48
24X3=72
24X4=96
24X5=120
24X6=144
24X7=168
24X8=192
24X9=216
24X10=240

Table of 25
25X1=25
25X2=50
25X3=75
25X4=100
25X5=125
25X6=150
25X7=175
25X8=200
25X9=225
25X10=250

Table of 26
26X1=26
26X2=52
26X3=78
26X4=104
26X5=130
26X6=156
26X7=182
26X8=208
26X9=234
26X10=260

Table of 27
27X1=27
27X2=54
27X3=81
27X4=108
27X5=135
27X6=162
27X7=189
27X8=216
27X9=243
27X10=270

Table of 28
28X1=28
28X2=56
28X3=84
28X4=112
28X5=140
28X6=168
28X7=196
28X8=224
28X9=252
28X10=280

Table of 29
29X1=29
29X2=58
29X3=87
29X4=116
29X5=145
29X6=174
29X7=203
29X8=232
29X9=261
29X10=290

Table of 30
30X1=30
30X2=60
30X3=90
30X4=120
30X5=150
30X6=180
30X7=210
30X8=240
30X9=270
30X10=300

Table of 31
31X1=31
31X2=62
31X3=93
31X4=124
31X5=155
31X6=186
31X7=217
31X8=248
31X9=279
31X10=310

Table of 32
32X1=32
32X2=64
32X3=96
32X4=128
32X5=160
32X6=192
32X7=224
32X8=256
32X9=288
32X10=320

Table of 33
33X1=33
33X2=66
33X3=99
33X4=132
33X5=165
33X6=198
33X7=231
33X8=264
33X9=297
33X10=330

Table of 34
34X1=34
34X2=68
34X3=102
34X4=136
34X5=170
34X6=204
34X7=238
34X8=272
34X9=306
34X10=340

Table of 35
35X1=35
35X2=70
35X3=105
35X4=140
35X5=175
35X6=210
35X7=245
35X8=280
35X9=315
35X10=350

Table of 36
36X1=36
36X2=72
36X3=108
36X4=144
36X5=180
36X6=216
36X7=252
36X8=288
36X9=324
36X10=360

Table of 37
37X1=37
37X2=74
37X3=111
37X4=148
37X5=185
37X6=222
37X7=259
37X8=296
37X9=333
37X10=370

Table of 38
38X1=38
38X2=76
38X3=114
38X4=152
38X5=190
38X6=228
38X7=266
38X8=304
38X9=342
38X10=380

Table of 39
39X1=39
39X2=78
39X3=117
39X4=156
39X5=195
39X6=234
39X7=273
39X8=312
39X9=351
39X10=390

Table of 40
40X1=40
40X2=80
40X3=120
40X4=160
40X5=200
40X6=240
40X7=280
40X8=320
40X9=360
40X10=400

In [108]:
i = 1
j = 11   
k = 41   

while i < k:       
    print(f"\nTable of {i}")
    n = 1
    while n < j:   
        print(f"{i} x {n} = {i*n}")
        n += 1
    i += 1

Table of 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Table of 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Table of 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Table of 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Table of 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Table of 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

Table of 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

Table of 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

Table of 14
14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140

Table of 15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

Table of 16
16 x 1 = 16
16 x 2 = 32
16 x 3 = 48
16 x 4 = 64
16 x 5 = 80
16 x 6 = 96
16 x 7 = 112
16 x 8 = 128
16 x 9 = 144
16 x 10 = 160

Table of 17
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

Table of 18
18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180

Table of 19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

Table of 20
20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

Table of 21
21 x 1 = 21
21 x 2 = 42
21 x 3 = 63
21 x 4 = 84
21 x 5 = 105
21 x 6 = 126
21 x 7 = 147
21 x 8 = 168
21 x 9 = 189
21 x 10 = 210

Table of 22
22 x 1 = 22
22 x 2 = 44
22 x 3 = 66
22 x 4 = 88
22 x 5 = 110
22 x 6 = 132
22 x 7 = 154
22 x 8 = 176
22 x 9 = 198
22 x 10 = 220

Table of 23
23 x 1 = 23
23 x 2 = 46
23 x 3 = 69
23 x 4 = 92
23 x 5 = 115
23 x 6 = 138
23 x 7 = 161
23 x 8 = 184
23 x 9 = 207
23 x 10 = 230

Table of 24
24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240

Table of 25
25 x 1 = 25
25 x 2 = 50
25 x 3 = 75
25 x 4 = 100
25 x 5 = 125
25 x 6 = 150
25 x 7 = 175
25 x 8 = 200
25 x 9 = 225
25 x 10 = 250

Table of 26
26 x 1 = 26
26 x 2 = 52
26 x 3 = 78
26 x 4 = 104
26 x 5 = 130
26 x 6 = 156
26 x 7 = 182
26 x 8 = 208
26 x 9 = 234
26 x 10 = 260

Table of 27
27 x 1 = 27
27 x 2 = 54
27 x 3 = 81
27 x 4 = 108
27 x 5 = 135
27 x 6 = 162
27 x 7 = 189
27 x 8 = 216
27 x 9 = 243
27 x 10 = 270

Table of 28
28 x 1 = 28
28 x 2 = 56
28 x 3 = 84
28 x 4 = 112
28 x 5 = 140
28 x 6 = 168
28 x 7 = 196
28 x 8 = 224
28 x 9 = 252
28 x 10 = 280

Table of 29
29 x 1 = 29
29 x 2 = 58
29 x 3 = 87
29 x 4 = 116
29 x 5 = 145
29 x 6 = 174
29 x 7 = 203
29 x 8 = 232
29 x 9 = 261
29 x 10 = 290

Table of 30
30 x 1 = 30
30 x 2 = 60
30 x 3 = 90
30 x 4 = 120
30 x 5 = 150
30 x 6 = 180
30 x 7 = 210
30 x 8 = 240
30 x 9 = 270
30 x 10 = 300

Table of 31
31 x 1 = 31
31 x 2 = 62
31 x 3 = 93
31 x 4 = 124
31 x 5 = 155
31 x 6 = 186
31 x 7 = 217
31 x 8 = 248
31 x 9 = 279
31 x 10 = 310

Table of 32
32 x 1 = 32
32 x 2 = 64
32 x 3 = 96
32 x 4 = 128
32 x 5 = 160
32 x 6 = 192
32 x 7 = 224
32 x 8 = 256
32 x 9 = 288
32 x 10 = 320

Table of 33
33 x 1 = 33
33 x 2 = 66
33 x 3 = 99
33 x 4 = 132
33 x 5 = 165
33 x 6 = 198
33 x 7 = 231
33 x 8 = 264
33 x 9 = 297
33 x 10 = 330

Table of 34
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340

Table of 35
35 x 1 = 35
35 x 2 = 70
35 x 3 = 105
35 x 4 = 140
35 x 5 = 175
35 x 6 = 210
35 x 7 = 245
35 x 8 = 280
35 x 9 = 315
35 x 10 = 350

Table of 36
36 x 1 = 36
36 x 2 = 72
36 x 3 = 108
36 x 4 = 144
36 x 5 = 180
36 x 6 = 216
36 x 7 = 252
36 x 8 = 288
36 x 9 = 324
36 x 10 = 360

Table of 37
37 x 1 = 37
37 x 2 = 74
37 x 3 = 111
37 x 4 = 148
37 x 5 = 185
37 x 6 = 222
37 x 7 = 259
37 x 8 = 296
37 x 9 = 333
37 x 10 = 370

Table of 38
38 x 1 = 38
38 x 2 = 76
38 x 3 = 114
38 x 4 = 152
38 x 5 = 190
38 x 6 = 228
38 x 7 = 266
38 x 8 = 304
38 x 9 = 342
38 x 10 = 380

Table of 39
39 x 1 = 39
39 x 2 = 78
39 x 3 = 117
39 x 4 = 156
39 x 5 = 195
39 x 6 = 234
39 x 7 = 273
39 x 8 = 312
39 x 9 = 351
39 x 10 = 390

Table of 40
40 x 1 = 40
40 x 2 = 80
40 x 3 = 120
40 x 4 = 160
40 x 5 = 200
40 x 6 = 240
40 x 7 = 280
40 x 8 = 320
40 x 9 = 360
40 x 10 = 400

In [110]:
# sum of value from 1-10 = 55 using while loop

num = 10
i = 1
sum = 0
while i <= num:
    sum = sum + i
    i += 1
print(sum)

55

In [112]:
i = 1
j = 11
sum = 0
while i < j:
   
    sum = sum + i
    i+=1
print(sum)

55

In [117]:
i=1
j=11
sum=0
while i<j:
    sum=sum+i
    i+=1
print(sum)

55

In [129]:
# Write a program to find the sum of 1-20 even and odd numbers.

i=1
j=20

listVal = []
sumVal = 0
evenList=[]
oddList =[]
sumEven=0
sumOdd=0
while i<=j:
    # print(i)
    
    if i%2==0:
        evenList.append(i)
        sumEven+=i
    else:
        oddList.append(i)
        sumOdd+=i
    listVal.append(i)
    
    sumVal=sumVal+i
    i+=1
print("Your List is:",listVal,"=",sumVal)
print("List of Even Numbers is:",evenList,"=",sumEven)
print("list of Odd numbers is:",oddList,"=",sumOdd)

Your List is: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] = 210
List of Even Numbers is: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20] = 110
list of Odd numbers is: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19] = 100

In [139]:
# break and continue in while loop

# 1-10
i = 1
j = 10

while i<=j:
    # print(i)
    if i == 5:
        break
    print(i)
    i+=1

1
2
3
4

In [143]:
# continue

i = 1
j = 10

while i<=j:
    i+=1  # incremnet
    if i == 5:
        continue
    print(i)

2
3
4
6
7
8
9
10
11

In [145]:
# aditya<- 1 - 4, 6 -10
# asma
# tahjeeb
# shankarshan

In [163]:
# loop - "The Quick brown fox jump over the lazy dog."

sentence = "The Quick brown fox jumps over the lazy dog."

i = 0
j = len(sentence)
count = 0
while i<j:
    # print(sentence[i])
    count+=1
    i+=1
print('Total number of characters in the sentence is:',count)

Total number of characters in the sentence is: 44

In [169]:
statement = "The quick brown fox jumps over the lazy dog."
count = 0
i = 0
while i < len(statement):
    count += 1
    i += 1
print("Length of the statement is:", count)

Length of the statement is: 44

In [171]:
loop = "the quick brown fox jumps over the lazy dog."

count = 0
i = 0

while i < len(loop):
    count += 1
    i += 1

print("Number of characters:", count)

Number of characters: 44

In [203]:
sentence  = "The quick brown fox jumps over the lazy dog."


count = 0

i =   0

whiteSpace=0
while i < len(sentence):
    if sentence[i] == " ":
        whiteSpace+=1
    count+=1
    i+=1
print(count)
print("String without space is:",count-whiteSpace)
print(whiteSpace)

44
String without space is: 36
8

In [227]:
sentence  = "The quick brown fox jumps over the lazy dog."


count = 0

i =   0

whiteSpace=0
while i < len(sentence):
    if sentence[i] == " ":
        i+=1
        continue
    count+=1
    i+=1
print(count)
# print(whiteSpace)

36

In [205]:
sentence1  = "The quick brown fox jumps over the lazy dog."

sentence = sentence1.replace(" ","")
# print(sentence)

count = 0

i =   0
while i < len(sentence):
    count+=1
    i+=1
print(count)

36

In [223]:
# 4. Calculate the sum of numbers from 1 to n.
# n is a user input value.
n = int(input("Enter your value:"))

sum1 = 0
for i in range(1,n+1):
    sum1+=i
    # print(i)
print(f"The usm of user input value {n} is: {sum1}")

Enter your value: 50

The usm of user input value 50 is: 1275

In [225]:
loop = "the quick brown fox jumps over the lazy dog."

count = 0
i = 0

while i < len(loop):
    if loop[i] == " ":
        i += 1
        continue
    count += 1
    i += 1

print(count)

36

In [1]:
# 1. Print numbers from 1 to 10 using a for loop.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
# using while loop

i = 1
j = 11
while i<j:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [5]:
# 2. Print all even numbers between 1 and 100.

for num in range(1,101):
    if num % 2 == 0:
        print(num,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [7]:
for i in range(2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [11]:
i=0
while i<=100:
    if i%2==0:
        print(i)
    i +=1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [13]:
for i in range(2, 101, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [15]:
i = 1
j = 101
while i < j:
    if i % 2 == 0:
        print(i,end= " ")
    i+=1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [19]:
# 3. Print the table of a given number (e.g., input 5  5, 10, 15,  50).
n = int(input("Enter number: "))
for i in range(1, 11):
    print(n * i)

Enter number:  5

5
10
15
20
25
30
35
40
45
50

In [21]:
table_no = int(input("enter the number for its table: "))
print(f"table of {table_no}is: ")
for i in range(1,11):
    print(table_no,"x",i,"=",table_no * i,)

enter the number for its table:  5

table of 5is:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [23]:
table_no = int(input("enter a number: "))

i = 1
j = 11
while i < j:
    print(table_no,"x",i,"=",table_no*i)
    i+=1

enter a number:  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [25]:
user=int(input("Enter a number"))
for i in range(1,11):
    print(f"{user}x{i}={user*i}")

Enter a number 5

5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50

In [27]:
num=int(input("Enter a number"))
i = 1
j = 11
while i<j:
    print(f"{num}X{i}={num*i}")
    i+=1

Enter a number 5

5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [35]:
# 4. Calculate the sum of numbers from 1 to n.
n = int(input("Enter n: "))
total = 0
for i in range(1, n+1):
    total += i
print("Sum:", total)

Enter n:  10

Sum: 55

In [37]:
num = int(input("Enter a number: "))
sum = 0
for i in range(1, num+1):
    sum += i
print("Sum of numbers is:", sum)

Enter a number:  10

Sum of numbers is: 55

In [39]:
num = int(input("Enter a number: "))
sum = 0
i = 1
while i <= num:
    sum += i
    i += 1
print("Sum of numbers is:", sum)

Enter a number:  10

Sum of numbers is: 55

In [41]:
length = int(input("enter the length till where you want the summing result: "))
sum = 0
for i in range(1,length+1):
    sum += i
print(sum)

enter the length till where you want the summing result:  10

55

In [43]:
length = int(input("enter the length till where you want the summing result: "))
sum1 = 0

i = 1
while i <= length:
    sum1 += i
    i+=1
print(sum1)

enter the length till where you want the summing result:  10

55

In [49]:
# 5. Calculate the factorial of a number using a loop.
userNum = int(input("Enter any value: "))
fact=1

for i in range(1,userNum+1):
    fact = fact*i
    # print(i)
print(fact)

Enter any value:  5

120

In [51]:
num = int(input("Enter a number: "))
fact = 1
i = 1
while i <= num:
    fact *= i
    i += 1
print(f"Factorial of {num} is:", fact)

Enter a number:  5

Factorial of 5 is: 120

In [53]:
num1 = int(input("enter a number: "))
k = 1
i = 1
while i <= num1:
    k*=i
    i+=1
print(f"factorial of {num1} is: {k}")

enter a number:  5

factorial of 5 is: 120

In [57]:
# 5. Calculate the factorial of a number using a loop.
n = int(input("Enter the number: "))
fact = 1
for i in range(1, n+1):
    fact = fact*i
print(fact)

Enter the number:  5

120

In [59]:
i = 1
n = int(input("Enter the number: "))
fact = 1
while i <= n:
    fact = fact*i
    i += 1
print(fact)

Enter the number:  5

120

In [63]:
# 6. Print all numbers divisible by 3 and 5 from 1 to 100.

for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

15
30
45
60
75
90

In [65]:
i = 1
while i <= 100:
    if i % 3 == 0 and i % 5 == 0:
        print(i)
    i += 1

15
30
45
60
75
90

In [67]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print(i, end=" ")

15 30 45 60 75 90

In [69]:
i = 1
while i <= 100:
    if i % 3 == 0 and i % 5 == 0:
        print(i, end=" ")
    i += 1

15 30 45 60 75 90

In [71]:
for i in range(1,101):
    if i % 3 == 0 and i % 5 == 0:
        print(i,end =" ")

15 30 45 60 75 90

In [73]:
i = 1
j = 100
while i < j:
    if i % 3==0 and i% 5 == 0:
        print(i,end =" ")
    i+=1

15 30 45 60 75 90

In [95]:
# . Print the reverse of a given number (e.g., 123  321).

n = input("Enter any value: ")
rev = ""  # 321

for i in str(n):
    # print(i)
    rev = i + rev       #3 # 1 + 0
print(rev)

Enter any value:  1646515

5156461

In [75]:
n = input()
for i in range(1, len(n)+1):
    print(n[-i], end="")

 123

321

In [103]:
n = input("Enter a number: ")
rev = ""
i = len(n) - 1  

while i >= 0:
    rev += n[i]  
    i -= 1

print("Reversed number:", rev)

Enter a number:  258

Reversed number: 852

In [105]:
n = input()
i = 1
while i <= len(n):
    print(n[-i], end="")
    i+=1

 258

852

In [159]:
# 8. Count digits in a number using a loop.


n = input("Enter any value: ")
rev = ''
i=0
while i<len(n):
    # print(i)
    rev = n[i] + rev
    # print(rev)
    i+=1
print(rev)

Enter any value:  1234

4321

In [173]:
# 8. Count digits in a number using a loop.

# 1234 = 4

n = int(input("Enter any value: "))
n1 = str(n)
count=0
for i in n1:
    count+=1
    # print(i)
print(count)

Enter any value:  1656151

7

In [169]:
n = int(input())
count = 0
i=0
while n > i:
    count += 1
    n //= 10
print("Digits =", count)

 1235

Digits = 4

In [171]:
numbers = input("enter a number: ")
count  = 0
for n in numbers:
    count +=1
print(count)

enter a number:  12345

5

In [175]:
numbers = input("enter a number: ")
count1 = 0
i = 1
while i <= len(numbers):
    count1+=1
    i+=1
print(count1)

enter a number:  1235

4

In [177]:
# 9. Print all characters of a string using a loop

str1 = input("enter a string: ")

for i in str1:
    print(i,end=" ")

enter a string:  hello world

h e l l o   w o r l d

In [179]:
str2 = input("enter a string: ")
i = 0
while i < len(str2):
    print(str2[i], end=" ")
    i+=1

enter a string:  hello world

h e l l o   w o r l d

In [181]:
string ="Asma"
for ch in string:
    print(ch)

A
s
m
a

In [183]:
string = "Asma"
i = 0
while i < len(string):
    print(string[i])
    i += 1

A
s
m
a

In [185]:
n = input()
for i in n:
    print(i, end=" ")

 hello world

h e l l o   w o r l d

In [187]:
### 10. Print only vowels from a string input by the user.

str4 = input("enter a sentence")
vowels = "aeiou"

for i in str4:
    if i  in vowels:
        print(i,end=" ")

enter a sentence apple

a e

In [189]:
str4 = input("enter a sentence")
vowels = "aeiou"
i = 0

while i < len(str4):
    if str4[i] in vowels:
        print(str4[i],end=" ")
    i+=1

enter a sentence apple

a e

In [195]:
user1 = input("Enter a string: ")
vowels = "aeiouAEIOU"
for ch in user1:
    if ch in vowels:
        print(ch, end=" ")

Enter a string:  apple

a e

In [201]:
user1 = input("Enter a string: ")
vowels = "aeiouAEIOU"
i = 0
while i < len(user1):
    if user1[i] in vowels:
        print(user1[i], end=" ")
    i += 1

Enter a string:  APPLE

A E

In [205]:
n = input("Enter any characters: ").lower()
for i in n:
    if i in "aeiou":
        print(i, end=" ")

Enter any characters:  apPPLe

a e

In [217]:
n1 = input("Enter a string: ")
n = n1.lower()
i = 0
while i < len(n):
    if n[i] in "aeiou":
        print(n1[i], end="")
    i += 1

Enter a string:  Elephant Apple

EeaAe

In [219]:
# 11. Print a countdown from 10 to 1.

for i in range(10, 0, -1): 
    print(i)

10
9
8
7
6
5
4
3
2
1

In [221]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [223]:
# 11. Print a countdown from 10 to 1.
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [225]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [227]:
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [229]:
i = 10

while i >= 1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [237]:
# 12. Take numbers as input until the user enters 0, then print their sum.

# infinite loop
listVal = []
sum1 = 0
for i in iter(int,1):
    userVal = int(input("Enter any value: "))
    if userVal == 0:
        break
    listVal.append(userVal)
    sum1 = sum1+userVal

print("Generate Value is:",listVal)
print("The sum of the user entered value is:",sum1)

Enter any value:  10
Enter any value:  20
Enter any value:  50
Enter any value:  60
Enter any value:  -400
Enter any value:  60
Enter any value:  80
Enter any value:  901
Enter any value:  -40
Enter any value:  0

Generate Value is: [10, 20, 50, 60, -400, 60, 80, 901, -40]
The sum of the user entered value is: 741

In [ ]:
# infinite looop

while True:

In [239]:
x = -1
n = 0
i = 0
while i > x:
    num = int(input("Enter a number : "))
    if num == 0:
        break
    n += num
    i += 1
print("Sum =", n)

Enter a number :  10
Enter a number :  20
Enter a number :  50
Enter a number :  0

Sum = 80

In [243]:
n = 0

while True:
    num = int(input("Enter a number : "))
    if num == 0:
        break
    n += num
print(n)

Enter a number :  10
Enter a number :  20
Enter a number :  50
Enter a number :  80
Enter a number :  90
Enter a number :  -10
Enter a number :  -100
Enter a number :  0

140

In [245]:
sum = 0

while True:
    num = int(input("Enter a number : "))
    if num == 0:
        break
    sum += num

print("Sum ", sum)

Enter a number :  10
Enter a number :  40
Enter a number :  50
Enter a number :  -78
Enter a number :  -156
Enter a number :  0

Sum  -134

In [247]:
total = 0
listVal=[]
while True:
    num = int(input("Enter a number"))
    if num == 0:
        break
    listVal.append(num)
    total += num
print("Numbers are", listVal)
print("Sum of numbers:", total)

Enter a number 10
Enter a number 20
Enter a number 30
Enter a number 40
Enter a number 80
Enter a number -50
Enter a number -150
Enter a number 0

Numbers are [10, 20, 30, 40, 80, -50, -150]
Sum of numbers: -20

In [249]:
# Write a program to take the user's number, and when the user enters zero, then stop. and find the 
# sum of even numbers and odd numbers of user input value.

evensum = 0
oddsum = 0
evenlist = []
oddlist = []
listval=[]
while True:
    num = int(input("Enter a number: "))
    if num == 0:
        break
    if num % 2 == 0:
        evensum += num
        evenlist.append(num)
    else:
        oddsum += num
        oddlist.append(num)
    listval.append(num)    
print("The numbers are:", listval)
print("Even numbers entered:", evenlist)
print("Odd numbers entered:", oddlist)
print("Sum of even numbers:", evensum)
print("Sum of odd numbers:", oddsum)

Enter a number:  10
Enter a number:  20
Enter a number:  5
Enter a number:  9
Enter a number:  6
Enter a number:  3
Enter a number:  0

The numbers are: [10, 20, 5, 9, 6, 3]
Even numbers entered: [10, 20, 6]
Odd numbers entered: [5, 9, 3]
Sum of even numbers: 36
Sum of odd numbers: 17

In [251]:
listVal = []
sumEven = 0
sumOdd = 0
for  i in iter(int,1):
    userVal = int(input("enter any value:"))
    if userVal == 0:
        break
    elif userVal % 2 == 0:
        sumEven+= userVal
    else:
        sumOdd+=userVal
    listVal.append(userVal)

print(listVal)
print(sumEven)
print(sumOdd)

enter any value: 10
enter any value: 20
enter any value: 50
enter any value: -10
enter any value: 6
enter any value: 5
enter any value: 3
enter any value: 7
enter any value: 9
enter any value: 0

[10, 20, 50, -10, 6, 5, 3, 7, 9]
76
24

In [253]:
evensum = 0
oddsum = 0
list1 = []
list2 = []
for i in iter(int, 1):
    num = int(input("Enter a number: "))
    if num == 0:
        break
    if num % 2 == 0:
        list1.append(num)
        evensum += num
    else:
        list2.append(num)
        oddsum += num

print("Sum of even numbers:", list1, evensum)
print("Sum of odd numbers:", list2, oddsum)

Enter a number:  10
Enter a number:  20
Enter a number:  55
Enter a number:  66
Enter a number:  90
Enter a number:  5
Enter a number:  7
Enter a number:  8
Enter a number:  0

Sum of even numbers: [10, 20, 66, 90, 8] 194
Sum of odd numbers: [55, 5, 7] 67

In [257]:
evensum = 0
oddsum = 0
list1 = []
list2 = []

while True:
    num = int(input("Enter a number: "))
    if num == 0:
        break
    if num % 2 == 0:
        list1.append(num)
        evensum += num
    else:
        list2.append(num)
        oddsum += num

print("Sum of even numbers:", list1, evensum)
print("Sum of odd numbers:", list2, oddsum)

Enter a number:  10
Enter a number:  20
Enter a number:  30
Enter a number:  0

Sum of even numbers: [10, 20, 30] 60
Sum of odd numbers: [] 0

In [1]:
# 13. Keep asking for a password until the correct one is entered
password = "qwerty"
for i in iter(int, 1):
    n = input("Enter the Password: ")
    if n == password:
        print("Correct password!")
        break

Enter the Password:  apple
Enter the Password:  boy
Enter the Password:  qwerty

Correct password!

In [2]:
password = "qwerty"
while True:
    n = input("Enter the Password: ")
    if n == password:
        print("Correct password!")
        break

Enter the Password:  qwerty

Correct password!

In [3]:
userPass = input("Enter a password: ")

for _ in iter(int, 1):  # this creates an "infinite" loop
    newuserPass = input("Re-enter the password: ")
    if newuserPass == userPass:
        print("Password is a match ")
        break
    else:
        print("Passwords do not match. Try again.")

Enter a password:  1234
Re-enter the password:  125

Passwords do not match. Try again.

Re-enter the password:  126

Passwords do not match. Try again.

Re-enter the password:  1234

Password is a match

In [4]:
password="Admin"
for i in iter(int,1):
    n=input("Enter Password")
    if n==password:
        print("Correct Password")
        break
    else:
        print("Incorrect Password! Try again")

Enter Password apple

Incorrect Password! Try again

Enter Password Admin

Correct Password

In [5]:
password="Admin"
while True:
    n=input("Enter Password")
    if n==password:
        print("Correct Password")
        break
    else:
        print("Incorrect Password! Try again")

Enter Password admin

Incorrect Password! Try again

Enter Password Admin

Correct Password

In [6]:
# 14. Find the sum of digits of a number using a while loop.

num = 123456789   # 45

n = input("Enter any value: ")
s = []
for i in str(n):
    s.append(i)
c = 0
for i in s:
    c = c + eval(i)
print(c)

Enter any value:  1234

10

In [7]:
n = input()
s = []
i = 0
j = 0
while i < len(n):
    s.append(n[i])
    i += 1
print(s)
c = 0
while j < len(n):
    c = c + eval(s[j])
    j += 1
print(c)

 1234

['1', '2', '3', '4']
10

In [8]:
n = input("Enter a number: ")
sum1 = 0
for i in n:
    sum1 +=int(i)
print("Sum of digits:", sum1)

Enter a number:  1234

Sum of digits: 10

In [10]:
n = input()
s = 0
for i in n:
    a = int(i)
    s = s + a
print(f"Sum of Digits : {s}")

 1234

Sum of Digits : 10

In [13]:
n = input("Enter any value: ")
i = 0
s = 0
while i < len(n):
    a = int(n[i])
    s = s + a
    i += 1
print(f"The Sum of the value is:",s)

Enter any value:  1235

The Sum of the value is: 11

In [14]:
n = input("Enter a number: ")
i = 0
sum1= 0
while i < len(n):
    sum1 += int(n[i])
    i += 1
print("Sum of digits:", sum1)

Enter a number:  1234

Sum of digits: 10

In [16]:
n = input("enter the digits: ")
sum1 = 0
for i in n:
    n = int(i)
    sum1 += n

print(sum1)

enter the digits:  1235

11

In [19]:
i = 0
n = input("enter the digits: ")
sum1 = 0
while i < len(n):
    
    sum1+= int(n[i])
    i+=1
print(sum1)

enter the digits:  1235

11

In [20]:
# 15. Reverse a string using a while loop.

n = input("Enter a string to Reverse: ")
i = 1
while i <= len(n):
    print(n[-i], end="")
    i += 1

Enter a string to Reverse:  apple

elppa

In [21]:
n = input("Enter a string to Reverse: ")
for i in range(1, len(n)+1):
    print(n[-i], end="")

Enter a string to Reverse:  apple

elppa

In [22]:
n=input("Enter a string")
rev=""
for i in str(n):
    rev=i+rev
print(rev)

Enter a string apple

elppa

In [23]:
n=input("Enter a string")
i=len(n)-1
rev=""
while i>=0:
    rev+=n[i]
    i-=1
print(rev)

Enter a string apple

elppa

In [48]:
str1 = input("Enter any word: ")
print("Original string is:",str1)
# print(len(str2))
for i in range((len(str1)-1),-1,-1):
    print(str1[i],end="")

Enter any word:  apple

Original string is: apple
elppa

In [49]:
word = input("enter a string: ")
rev = ""
for i in word:
    rev = i + rev
print(rev)

enter a string:  apple

elppa

In [50]:
word = input("Enter a string: ")
rev = ""
i = 0

while i < len(word):
    rev = word[i] + rev
    i+=1
print(rev)

Enter a string:  apple

elppa

In [52]:
# 16. Print this pattern:


# *
# **
# ***
# ****


for i in range(1,5):
    print("*"*i)

*
**
***
****

In [53]:
for i in range(1,6):
    print("*"*i)

*
**
***
****
*****

In [54]:
i=1
while i<=4:
    print("*"*i)
    i+=1

*
**
***
****

In [55]:
i = 0
while i <= 4:
    print(i * "*")
    i += 1

*
**
***
****

In [56]:
# 17. Print multiplication tables from 1 to 5 using nested loops.


for i in range(1, 6):
    print(f"\nTable of {i}")
    for j in range(1, 11):
        print("%dX%d=%d"%(i, j, i*j))

Table of 1
1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
1X10=10

Table of 2
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

Table of 3
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30

Table of 4
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40

Table of 5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [57]:
i = 1
while i <= 5:
    print(f"\nTable of {i}")
    j = 1
    while j <= 10:
        print("%dX%d=%d" % (i, j, i * j))
        j += 1
    i += 1

Table of 1
1X1=1
1X2=2
1X3=3
1X4=4
1X5=5
1X6=6
1X7=7
1X8=8
1X9=9
1X10=10

Table of 2
2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
2X10=20

Table of 3
3X1=3
3X2=6
3X3=9
3X4=12
3X5=15
3X6=18
3X7=21
3X8=24
3X9=27
3X10=30

Table of 4
4X1=4
4X2=8
4X3=12
4X4=16
4X5=20
4X6=24
4X7=28
4X8=32
4X9=36
4X10=40

Table of 5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [58]:
for i in range(1, 6): 
    print(f"\nMultiplication Table of {i}")
    for j in range(1, 11): 
        print(f"{i}  {j} = {i*j}")

Multiplication Table of 1
1  1 = 1
1  2 = 2
1  3 = 3
1  4 = 4
1  5 = 5
1  6 = 6
1  7 = 7
1  8 = 8
1  9 = 9
1  10 = 10

Multiplication Table of 2
2  1 = 2
2  2 = 4
2  3 = 6
2  4 = 8
2  5 = 10
2  6 = 12
2  7 = 14
2  8 = 16
2  9 = 18
2  10 = 20

Multiplication Table of 3
3  1 = 3
3  2 = 6
3  3 = 9
3  4 = 12
3  5 = 15
3  6 = 18
3  7 = 21
3  8 = 24
3  9 = 27
3  10 = 30

Multiplication Table of 4
4  1 = 4
4  2 = 8
4  3 = 12
4  4 = 16
4  5 = 20
4  6 = 24
4  7 = 28
4  8 = 32
4  9 = 36
4  10 = 40

Multiplication Table of 5
5  1 = 5
5  2 = 10
5  3 = 15
5  4 = 20
5  5 = 25
5  6 = 30
5  7 = 35
5  8 = 40
5  9 = 45
5  10 = 50

In [59]:
i = 1
while i <= 5: 
    print(f"\nMultiplication Table of {i}")
    j = 1
    while j <= 10: 
        print(f"{i}  {j} = {i*j}")
        j += 1
    i += 1

Multiplication Table of 1
1  1 = 1
1  2 = 2
1  3 = 3
1  4 = 4
1  5 = 5
1  6 = 6
1  7 = 7
1  8 = 8
1  9 = 9
1  10 = 10

Multiplication Table of 2
2  1 = 2
2  2 = 4
2  3 = 6
2  4 = 8
2  5 = 10
2  6 = 12
2  7 = 14
2  8 = 16
2  9 = 18
2  10 = 20

Multiplication Table of 3
3  1 = 3
3  2 = 6
3  3 = 9
3  4 = 12
3  5 = 15
3  6 = 18
3  7 = 21
3  8 = 24
3  9 = 27
3  10 = 30

Multiplication Table of 4
4  1 = 4
4  2 = 8
4  3 = 12
4  4 = 16
4  5 = 20
4  6 = 24
4  7 = 28
4  8 = 32
4  9 = 36
4  10 = 40

Multiplication Table of 5
5  1 = 5
5  2 = 10
5  3 = 15
5  4 = 20
5  5 = 25
5  6 = 30
5  7 = 35
5  8 = 40
5  9 = 45
5  10 = 50

In [73]:
# 18. Print all prime numbers between 1 and 100.

# prime number- 1 and itself and it two factor only.

# 1 -----> No, [1]
# 2 ----> yes, [1,2]
# 3 ----> yes, [1,3]
# 4 ----> No, [1,2,4]
# 5 ----> Yes, [1,5]
# 6
# 7 ---> Yes, [1,7]
# 8
# 9
# 10
# 11 ---> yes, [1,11]

for i in range(2,101):
    is_prime = True
    for j in range(2, int(i**0.5)+1):
        if i%j == 0:
            is_prime = False
            break
    if is_prime:
        print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [74]:
for i in range(2,101):
    for j in range(2,101):
        if i % j == 0:
            break
    if i == j:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [78]:
# 19. Print number pattern:
# 1
# 12
# 123
# 1234


for i in range(1,5):
    for j in range(1, i+1):  # 1,5 = 1234
        print(j,end="")
    print()

1
12
123
1234

In [84]:
n = 4
i = 1
while i <= n:
    j = 1
    while j <= i:
        print(j, end="")
        j += 1

    i += 1
    print()

1
12
123
1234

In [85]:
for i in range(1, 5):  
    for j in range(1, i + 1): 
        print(j, end="")
    print()

1
12
123
1234

In [86]:
i = 1
while i <= 4:  
    j = 1
    while j <= i: 
        print(j, end="")
        j += 1
    print() 
    i += 1

1
12
123
1234

In [87]:
# 20. Print Floyd's Triangle:
#
# ```
# 1
# 2 3
# 4 5 6
# 7 8 9 10
# ```

In [90]:
n= 1
for i in range(1, 5):  
    for j in range(0,i): # 0,2
        print(n, end=" ")
        n += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [91]:
n = 1
i = 1
while i <= 4:
    j = 1
    while j <= i:
        print(n, end=" ")
        n += 1
        j += 1
    print()
    i += 1

1
2 3
4 5 6
7 8 9 10

In [99]:
num=1

for i in range(1,5):
    for j in range(0,i):  # 0,4 - 0,1,2,3
        print(num,end="")  # 1
        num+=1 # 2
    print()

1
23
456
78910

In [100]:
num = 1
i = 0
while i < 5:
    j = 0
    while j < i:
        print(num, end="")
        num += 1
        j += 1
    i += 1
    print()

1
23
456
78910

In [101]:
num = 1
i = 1
l = 5


while i < l:
    j = 0
    while j < i:
        print(num,end=" ")
        num+=1
        j+=1
    i+=1  
    print()

1
2 3
4 5 6
7 8 9 10

In [111]:
# 21. Find the maximum number in a list using a loop.

# sorting: Bubble sort
lst = [4,7,1,9,12,3,8]

# list1 = [4,1,7,9,3,8,12]
# list1 = [1,4,7,3,8,9,12]
# list1 = [1,4,3,7,8,9,12]
# list1 = [1,3,4,7,8,9,12]

mx = lst[0] # 7,9,12
for x in lst:
    if x>mx:
        mx = x
print("Maximum Number of the List:",mx)

Maximum Number of the List: 12

In [117]:
# 22. Calculate the average of numbers in a list.
lst = [4,7,1,9,12,3,8,-10,-5]
len(lst)

9

In [116]:
# Sankarshan 5:28PM
# 22. Calculate the average of numbers in a list.
n = [1, 5, 6, 8, 1, 9]
s = 0
for i in n:
    s = s + i
print("Average: ", s/len(n))

Average:  5.0

In [118]:
n = [1, 5, 6, 8, 1, 9]
i = 0
s = 0
while i < len(n):
    s = s + n[i]
    i += 1
print("Average: ", s/len(n))

Average:  5.0

In [119]:
numbers = [100, 20, 130, 48, 54]
total = 0
for i in numbers:
    total += i
average = total / len(numbers)
print(f"Average of {numbers} is:", average)

Average of [100, 20, 130, 48, 54] is: 70.4

In [120]:
numbers = [10, 20, 30, 40, 50, 60, 70]
total = 0
i = 0
while i < len(numbers):
    total += numbers[i]
    i += 1
average = total / len(numbers)
print(f"Average of {numbers} is:", average)

Average of [10, 20, 30, 40, 50, 60, 70] is: 40.0

In [125]:
n = [1, 5, 6, 8, 1, 9]
s = 0
count = 0
avg = 0
for i in n:
    s = s + i
    count = count+1
    avg = s/count # 1/1 =1.0, 6/2 = 3.0, 12/3 = 4.0, 20/4= 5.0, 21/5 = 4.2, 30/6 = 5.0
    # print(avg)
print("Average of the list is:",avg)

Average of the list is: 5.0

In [126]:
# 23. Count how many even numbers are in a list.
n = [1, 2, 4, 5, 6, 8, 9]
count = 0
for i in n:
    if i % 2 == 0:
        count += 1
print("Even numbers: ", count)

Even numbers:  4

In [127]:
n = [1, 2, 4, 5, 6, 8, 9]
count = 0
i = 0
while i < len(n):
    if i % 2 == 0:
        count += 1
    i += 1
print("Even numbers: ", count)

Even numbers:  4

In [128]:
numbers = [10, 22, 73, 49, 40, 61, 81, 49] 
count = 0
evenlist = []  
for i in numbers:
    if i % 2 == 0:  
        count += 1
        evenlist.append(i)
print("Even numbers in the list:", evenlist)
print("Total even numbers:", count)

Even numbers in the list: [10, 22, 40]
Total even numbers: 3

In [129]:
numbers = [12,24,55,78,67,80,11,23]
count = 0
i = 0
evenlist = []  
while i < len(numbers):
    if numbers[i] % 2 == 0:
        count += 1
        evenlist.append(numbers[i])
    i += 1
print("Even numbers in the list:", evenlist)
print("Total even numbers:", count)

Even numbers in the list: [12, 24, 78, 80]
Total even numbers: 4

In [130]:
# 24. Remove all negative numbers from a list using a loop.

# 24. Remove all negative numbers from a list using a loop.
n = [4, -1, -9, 7, -6, 8, -3]
positive = []
for i in n:
    if i > 0:
        positive.append(i)
print(positive)

[4, 7, 8]

In [131]:
i = 0
positive = []
while i < len(n):
    if n[i] > 0:
        positive.append(n[i])
    i += 1
print(positive)

[4, 7, 8]

In [132]:
numbers = [3, -5, 7, -2, 8, -9, 4]
list = []
for i in numbers:
    if i >= 0:
        list.append(i)
print("original list:", numbers)
print("List after removing negative numbers:", list)

original list: [3, -5, 7, -2, 8, -9, 4]
List after removing negative numbers: [3, 7, 8, 4]

In [133]:
numbers = [3, -5, 7, -2, 8, -9, 4]
list1 = []
i = 0
while i < len(numbers):
    if numbers[i] >= 0:
        list1.append(numbers[i])
    i += 1
print("Original list:", numbers)
print("List after removing negative numbers:", list)

Original list: [3, -5, 7, -2, 8, -9, 4]
List after removing negative numbers: [3, 7, 8, 4]

In [135]:
list1 = [4,2]
list1.remove(4)
print(list1)

[2]

In [136]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [156]:
# 25. Create a new list with squares of numbers from another list.

n = [4, -1,-9, 7, -6, 8, -3]
print(len(n))

for i in range(len(n)):  # 8
    if n[i]<0:
        print(n[i])
        n.remove(n[i])
print(n)

7
-1
-6
-3

IndexError: list index out of range